# Large models and assets
hf_cache/
hf_cache*
faster_liveportrait/checkpoints/
faster_liveportrait/weights/
faster_liveportrait/results/
faster_liveportrait/assets/
# Allow the scripts, but block the .git folder inside if we don't want it as a submodule
faster_liveportrait/.git/

# Python temporary files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Media and logs
*.wav
*.mp4
*.log

# Docker specific
.dockerignore
docker-compose.yml

# IDE settings
.vscode/
.idea/
*.swp
*.swo

# Project specific ignores
runCommand.txt
